.componentItem {
  display: flex;
  padding-left: var(--groot-padding-x);

}

.componentItemName {
  flex-grow: 1;
}


.versionChange :global(.ant-select-selector .ant-select-selection-item) {
  color: red;
}

.versionFallBehind :global(.ant-select-selector .ant-select-selection-item) {
  color: orange;
}